<form [formGroup]="formReg" (ngSubmit)="onSubmit()" class="center-elem">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" />
    </div>
    <input type="submit" class="btn btn-primary" value="Register">
    <p>Already registered? go to <a routerLink="../login">login</a></p>
  </form>
  