<app-base></app-base>
<div class="center-elem">
    <h1><input type="text" [(ngModel)]="character[0].name"></h1>
    <p>Status: <input type="text" [(ngModel)]="character[0].status"></p>
    <p>Species: <input type="text" [(ngModel)]="character[0].species"></p>
    <p>Gender: <input type="text" [(ngModel)]="character[0].gender"></p>
    <p>Origin:<input type="text" [(ngModel)]="character[0].origin.name"></p>
    <p>Location: <input type="text" [(ngModel)]="character[0].location.name"></p>
    <img src="{{ character[0].image }}" alt="" />
    <button type="submit" class="btn btn-primary btn-1" (click)="edit()">Edit</button>
  </div>
  