<div class="row">
  <div class="col center-elem" *ngFor="let character of firstRow">
    <div
      class="card card-settings"
      style="width: 18rem"
      *ngIf="character !== undefined"
    >
      <img src="{{ character.image }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
      </div>
      <div class="card-body center-elem">
        <a
          type="button"
          class="btn btn-warning btn-2"
          routerLink="details/{{ character.id }}"
          >See more</a
        >
        <a
          type="button"
          class="btn btn-success btn-2"
          routerLink="edit/{{ character.id }}"
          >Edit</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col center-elem" *ngFor="let character of secondRow">
    <div
      class="card card-settings"
      style="width: 18rem"
      *ngIf="character !== undefined"
    >
      <img src="{{ character.image }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
      </div>
      <div class="card-body center-elem">
        <a
          type="button"
          class="btn btn-warning btn-2"
          routerLink="details/{{ character.id }}"
          >See more</a
        >
        <a
          type="button"
          class="btn btn-success btn-2"
          routerLink="edit/{{ character.id }}"
          >Edit</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col center-elem" *ngFor="let character of thirdRow">
    <div
      class="card card-settings"
      style="width: 18rem"
      *ngIf="character !== undefined"
    >
      <img src="{{ character.image }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
      </div>
      <div class="card-body center-elem">
        <a
          type="button"
          class="btn btn-warning btn-2"
          routerLink="details/{{ character.id }}"
          >See more</a
        >
        <a
          type="button"
          class="btn btn-success btn-2"
          routerLink="edit/{{ character.id }}"
          >Edit</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col center-elem" *ngFor="let character of fourthRow">
    <div
      class="card card-settings"
      style="width: 18rem"
      *ngIf="character !== undefined"
    >
      <img src="{{ character.image }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
      </div>
      <div class="card-body center-elem">
        <a
          type="button"
          class="btn btn-warning btn-2"
          routerLink="details/{{ character.id }}"
          >See more</a
        >
        <a
          type="button"
          class="btn btn-success btn-2"
          routerLink="edit/{{ character.id }}"
          >Edit</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col center-elem" *ngFor="let character of fifthRow">
    <div
      class="card card-settings"
      style="width: 18rem"
      *ngIf="character !== undefined"
    >
      <img src="{{ character.image }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
      </div>
      <div class="card-body center-elem">
        <a
          type="button"
          class="btn btn-warning btn-2"
          routerLink="details/{{ character.id }}"
          >See more</a
        >
        <a
          type="button"
          class="btn btn-success btn-2"
          routerLink="edit/{{ character.id }}"
          >Edit</a
        >
      </div>
    </div>
  </div>
</div>
